
body {
    margin: 0px;
    padding: 0px;
    background: #CCCCCC;
}
ul {
    background: #444;
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
}
li {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    list-style: none;
    display: inline-block;
}
a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    font-size: 28px;
}
header p {
    font-style: italic;
}
article {
    margin-left: 20px;
}
.paragraph {
    font-size: 24px;
}
section {
    margin-left: 20px;
}

footer {
    background: #444;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}